@(signupForm: Form[Application.Register], loginForm: Form[Application.Login])

@main(null) {
	<section id="homePage">
			<div class="container">
				<h2><b>Welcome to Dan's Rookie Cards</h2>
				<div class="testimonials" data-appear-top-offset="-200" data-animated="fadeInUp">
						<div class="item">
							<div class="testim_content">Your One-Stop-Shop for your Baseball Card Needs!</div>
							<div class="testim_content">Please sign in to begin your experience!</div>
						</div>
				</div>
			</div>
		</section>
}